body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-bar .MuiInputBase-input {
  min-width: 3rem;
}

.search-bar > .MuiIconButton-root {
  padding: 0;
  position: absolute;
  right: 0.625rem;
  top: 0.75rem;
}

.search-bar > img {
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}